body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

nav {
    padding: 0 1rem;
}

.content {
    min-height: calc(100vh - 134px);
    padding: 1.5rem 0;
}

.goods {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-content {
    flex-grow: 1;
}

.card-action {
    display: flex;
    justify-content: space-between;
}

.card-price {
    font-size: 22px;
    font-weight: 600;
}

.card .btn {
    font-weight: 600;
}

.cart {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 5;
    padding: 1rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.cart-item-name {
    font-weight: 600;
    margin: 10px;
}

.cart-icon {
    vertical-align: middle;
}

@media (min-width: 767px) {
    .cart {
        top: 6rem;
        bottom: unset;
    }
}

.cart-list {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50rem;
    max-width: 95%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    z-index: 5;
    animation: cart-show .3s ease-in-out;
}

@keyframes cart-show {
    from {
        top: 80%;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}

.cart-close {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.cart-delete {
    cursor: pointer;
    color: red;
}

.cart-quantity {
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 16px;
    font-weight: 600;
}

.cart-total-cost {
    font-weight: 800;
}

.cart-item-quantity {
    cursor: pointer;
    vertical-align: middle;
    color: teal;
    border: 1px solid gray;
    border-radius: 3px;
    font-size: 20px;
    margin: 0 10px;
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-confirm-btn {
    font-weight: 600;
    background: rgb(87, 165, 168);
}

#toast-container {
    top: 3rem !important;
    animation: toast-anime 300ms ease-in-out;
}

@keyframes toast-anime {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0rem);
    }
}

.toast {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    font-weight: 600;
}